<div class="container">
  <form [formGroup]="angForm" class="row g-3">


      <div class="col-md-4">
        <label for="nombre" class="form-label">Nombres</label>
        <input type="text"
              class="form-control"
              id="nombre"
              [ngClass]="{
                'is-valid': f.nombre.touched && f.nombre.valid,
                'is-invalid': f.nombre.touched && f.nombre.invalid
              }"
              name="nombre"
              placeholder="nombre"
              formControlName="nombre"
              #email>
        <div *ngIf="f.nombre.touched && f.nombre.invalid" class="invalid-feedback">
          <span *ngIf="f.nombre.errors?.required">
            El nombre no puede estar vacio
          </span>
        </div>
      </div>

      <div class="col-md-4">
        <label for="surname" class="form-label">Primer Apellido</label>
        <input type="text"
              class="form-control"
              id="surname"
              [ngClass]="{
                'is-valid': f.surname.touched && f.surname.valid,
                'is-invalid': f.surname.touched && f.surname.invalid
              }"
              name="surname"
              placeholder="Primer Apellido"
              formControlName="surname"
              #email>
        <div *ngIf="f.surname.touched && f.surname.invalid" class="invalid-feedback">
          <span *ngIf="f.surname.errors?.required">
            El primer apellido no puede estar vacio
          </span>
        </div>
      </div>

      <div class="col-md-4">
        <label for="secondSurname" class="form-label">Segundo Apellido</label>
        <input type="text"
              class="form-control"
              id="secondSurname"
              [ngClass]="{
                'is-valid': f.secondSurname.touched && f.secondSurname.valid,
                'is-invalid': f.secondSurname.touched && f.secondSurname.invalid
              }"
              name="secondSurname"
              placeholder="Segundo Apellido"
              formControlName="secondSurname"
              #email>
        <div *ngIf="f.secondSurname.touched && f.secondSurname.invalid" class="invalid-feedback">
          <span *ngIf="f.secondSurname.errors?.required">
            El segundo apellido no puede estar vacio
          </span>
        </div>
      </div>

      <div class="col-md-4">
        <label for="dateOfBirth" class="form-label">Fecha de Nacimiento</label>
        <input type="date"
              class="form-control"
              id="dateOfBirth"
              [ngClass]="{
                'is-valid': f.dateOfBirth.touched && f.dateOfBirth.valid,
                'is-invalid': f.dateOfBirth.touched && f.dateOfBirth.invalid
              }"
              name="dateOfBirth"
              placeholder="Fecha de Nacimiento"
              formControlName="dateOfBirth"
              #password>
        <div *ngIf="f.dateOfBirth.touched && f.dateOfBirth.invalid" class="invalid-feedback">
          <span *ngIf="f.dateOfBirth.errors?.required">
            La fecha de nacimiento es requerida
          </span>
        </div>
      </div>

      <div class="col-md-4">
        <label for="email" class="form-label">Correo</label>
        <input type="text"
              class="form-control"
              id="email"
              [ngClass]="{
                'is-valid': f.email.touched && f.email.valid,
                'is-invalid': f.email.touched && f.email.invalid
              }"
              name="email"
              placeholder="Email"
              formControlName="email"
              #email>
        <div *ngIf="f.email.touched && f.email.invalid" class="invalid-feedback">
          <span *ngIf="f.email.errors?.required">
            El email no puede estar vacio
          </span>
          <span *ngIf="f.email.errors?.email">
            El email no es valido
          </span>
        </div>
      </div>

      <div class="col-md-4">
        <label for="password" class="form-label">Password</label>
        <input type="password"
              class="form-control"
              id="password"
              [ngClass]="{
                'is-valid': f.password.touched && f.password.valid,
                'is-invalid': f.password.touched && f.password.invalid
              }"
              name="pwd"
              placeholder="Password"
              formControlName="password"
              #password>
        <div *ngIf="f.password.touched && f.password.invalid" class="invalid-feedback">
          <span *ngIf="f.password.errors?.required">
            El password no puede estar vacio
          </span>
          <span *ngIf="f.password.errors?.minlength">
            El password debe tener como mínimo 10 caracteres
          </span>
        </div>
      </div>

      <div class="col-md-4">
        <label for="repeatPassword" class="form-label">Repetir Password</label>
        <input type="password"
              class="form-control"
              id="repeatPassword"
              [ngClass]="{
                'is-valid': f.repeatPassword.touched && f.repeatPassword.valid && (f.repeatPassword.value === f.password.value),
                'is-invalid': f.repeatPassword.touched && (f.repeatPassword.value != f.password.value)
              }"
              name="repeatPassword"
              placeholder="Repetir Contraseña"
              formControlName="repeatPassword"
              #repeatPassword>
        <div *ngIf="f.repeatPassword.touched || 
                  (f.repeatPassword.value != f.password.value)" 
                  class="invalid-feedback">
          <span *ngIf="f.repeatPassword.errors?.required">
            Este campo es requerido
          </span>
          <span *ngIf="f.repeatPassword.value != f.password.value">
            Las contraseñas no coinciden
          </span>
        </div>
      </div>
      <div class="col-md-12 mt-3">

        <input type="submit"
              class="btn btn-primary"
              value="submit"
              (click)="onClickSubmit(email.value, password.value)">
      </div>
  </form>
</div>